.authentication-form{
    display: inline-block;
    width: 35%;
}

.authentication-form .text-form-field{
    margin-bottom: var(--spacing);
}

Button{
    display: block;
}

@media screen and (max-width:800px){
    .authentication-form{ 
        width: 100%;
    }
}