body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: var(--background-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --background-color: #000;
  --primary-color: #00838F;
  --secondary-color: #FFF;
  --text-color: #FFF;
  --accent-color: #B00020;
  --spacing: 8px;
  --spacing-large: 16px;
  --spacing-extra-large: 32px;
  --heading: 1.2rem;
  --sub-heading: 1rem;
  --title: 0.8rem;
  --buton-text: 1rem;
}